.fav-list-cell-title a {
	font-family: sans-serif;
	font-size: 1.4em;
	text-decoration: none;
}

.fav-list-cell-bottom {
	margin: 10px 0;
}

.fav-list-cell-datetime {
	font-family: sans-serif;
	font-size: 0.5em;
	color: #888;
}

.fav-list-cell-service a {
	margin-left: 10px;
	text-decoration: none;
}

.password-info {
	margin-left: 5px;
	color: #CA6E5E;
}

.preference-left {
	margin-bottom: 17px;
	text-align: left;
}

.preference-right {
	margin-bottom: 17px;
	text-align: right;
}

.preference-right a {
	text-decoration: none;
}